.reminder {
    font-family: Arial, sans-serif;
    padding: 50px 0px 10px 0px;
    box-shadow: 0 0 0 1px rgba(0, 0, 0, .05), 0 2px 8px 5px rgba(0, 0, 0, .09);
    border-radius: 30px;
    width: 85%;
    margin: auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 30px;

    & > ul{      
        display: flex;
        flex-direction: column;
        align-items: center;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        margin: 0px;
        padding: 0px;

      & > li{
        list-style: none;
        display: flex;
        flex-direction: row;
        margin: auto auto 45px auto;   
      }
    }
  }

  .table-th{
    background: #e7e7e7;
  }
  
  .pet-card {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 50px;


  }


  table {
    width: 100%;
    border-collapse: collapse;
    margin-bottom: 20px;
  }
  
  th, td {
    border: 1px solid #ddd;
    text-align: center;
    padding: 10px;
  }
  
  .status.approved {
    color: green;
    font-weight: bold;
  }
  
  .symptoms button {
    margin: 5px;
    padding: 10px 20px;
    border: none;
    border-radius: 20px;
    background-color: #f0f0f0;
    cursor: pointer;
  }
  
  .symptoms button:hover {
    background-color: #ddd;
  }
  
  .countdown {
    font-size: 2rem;
    text-align: center;
    /* margin-top: 20px; */
  }

  .time-container {
    display: flex;
    flex-direction: column;
    /* justify-content: space-between; */
    align-items: center;

    & > span{
        font-size: 12px;
    }
  }

  .parent {
    display: flex;
    flex-direction: row;
    align-items: flex-end;
    justify-content: space-between;
  }

